@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "ListOfUsers";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<div style="padding-bottom:7vh;margin:3%">

    <div style="padding:3%;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;border-radius:12px;">
        <h1 style="margin-bottom:2%">List of Users</h1>

        <table class="table" id="table_id">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <a asp-action="ManageClaims" asp-route-id="@item.Id" class="btn btn-primary">Manage Users</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@*Start<--Js Scripts -->Start*@


@section Scripts{
    <script>
        $(document).ready(function() {
            $('#table_id').DataTable({
                "processing": true,
                "serverSide": false,
                "filter": true
            });
        })
    </script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
}

    @*End<--Js Scripts -->End*@